.basic-wrapper,
.advanced-wrapper {
  border: 1px solid #ccc;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.basic-wrapper {
  width: 40%;
}
.advanced-wrapper {
  width: 100%;
}
.editor-container {
  height: 100%;
    min-height: 400px;
}
.toolbar-container {
  border-bottom: 1px solid #ccc;
}
.basic-wrapper .toolbar-container {
  padding: 8px 14px;
}
.basic-wrapper .toolbar-container .ql-active,
.basic-wrapper .toolbar-container button:hover {
  color: #008000;
  font-weight: bold;
}
