<p>Thanks for accepting the merchant terms.</p> 
<p>Once we have approved your account, you will start receiving requests from users through your dashboard. Before you start, <a href="https://youtu.be/tZZR3C4ysS0" target="_blank">watch this 3 minute tutorial video</a> to familiarize yourself with the platform.</p>
<p>Agent Avery was built with the modern, tech-savvy traveler in mind who expects timely, reliable, and excellent customer service.</p>
<p>Therefore, your responsiveness is important to ensure a great customer experience. Once you start a conversation, please respond to the client's message as soon as possible. Travel specialists who respond to a message within the first 3 minutes are much more likely to keep the client engaged.</p>
<p>Let's travel on together!</p>
