<p>You have deactivated your account and will no longer receive any new trip planning requests.</p><br/> 
<p>Are you sure you want to do this?</p><br/>
<p>If you did this in error, please re-activate your account in the Account page after logging into your Agent Avery agent dashboard to 
continue receiving qualified leads of travelers and to keep your access to a rich set of tools with which to run your business.</p><br/>
<p>Please note that you are <b>still responsible</b> for Agent Avery travelers who are currently receiving your services.</p></b>
<p>Travel on!</p>



