.hidden {
  display: hidden;
}

.visible {
  display: block;
}

.modal-close-btn {
  padding: 15px 35px;
}

.row {
  margin: 0;
}

.underline {
  border-bottom: 4px solid #33eebb;
}

.section-txt1{
  color: #252a2c;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.primary-btn{
  font-size: 18px;
  background-color: #33eebb;
  padding: 8px 22px;
  color: #fff;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .section-txt1 {
    font-size: 30px;
  }
}
