body {
  background-color: #f1f1f1;
}
p {
  line-height: 1.2;
}
.login-pg .intro-header .site-heading {
  padding: 0;
  margin-top: 0;
}

.login-form{
	background-color: #E9E9E9;
  color: #252830;
  border-left: 1px solid #9C9C9C;
  border-right: 1px solid #9C9C9C;
  margin: 50px 0;
}


.login-fields{
	margin-top: 30px;
}

.login-form .logo-txt{
	font-size: 60px;
	font-weight: 300;
	margin-left: 10px;
	color:#252830;
}


.logo-sub-txt{
	font-size: 20px;
}

.logo img{
	margin-top: -20px;
}

/*Sign Up*/
.message {
	 margin-top: 30px;
	 text-align: center;
	 height: 36px;
	 color: #33EEBB;
}

.login-error {
  color: #DD4B39;
}

.login-btn {
	align: center;
}

.sign-up{
	padding:10px;
	margin-left: 20px;
}

.right-align-button{
	 text-align: center;
}

.right-align-button .btn {
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  display: block;
}

.control-label{
	padding-top: 0px;
}

.sign-up-content {
  margin: 20px 10px;
}
.sign-up-content .form-group, .login-content .form-group {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    color: #9C9C9C;
    font-size: 16px;
    text-align: left;
}

.sign-up-content .form-group a, .login-content .form-group a {
  text-decoration: underline;
}

.sign-up-content .parsley-errors-list {
  text-align: center;
}

.form-control {
  height: 50px;
  font-size: 16px;
}

.login-pg .box-space {
  margin: 15px;
}

.login-pg .features-list {
  padding-right: 0;
  padding-left: 0;
}

.login-pg .features-list img{
  width: 100%
}

.login-pg .phone-screen-txt {
  padding: 0;
}
.login-pg .phone-screen-txt .section-txt1 {
  text-align: left;
  color: #252a2c;
  line-height: 1.2;
  font-size: 24px;
}

.login-pg .phone-screen-txt p {
  color: #9C9C9C;
}
.login-pg .phone-screen-txt .section-txt2 {
  margin: 0;
}

.tags{
	display: inline-block;
	background-color: #eeeeee;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin-right: 5px;
    margin: 5px 3px 0px 0px;
}
.tags-rmv{
	font-size: .7em;
	padding-left: 5px;
}
.tags-group{
	margin-top: 5px;
}

.center{
	text-align: center;
}

.modal-body {
  	max-height: calc(100vh - 200px);
  	overflow-y: auto;
		font-family:'Source Sans Pro';
		text-align: justify;
		text-justify: inter-word;
}

.login-content {
  margin-bottom: 20px;
  padding: 0 15px;
}
.login-content .login-form {
  border: 0;
  padding: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  p {
    line-height: 1.5;
  }
  .login-form {
    margin: 50px 30px;
  }
  .box-space{
    margin: 30px 15px;
  }
  .phone-screen-txt .left-line {
    height: 90%;
    top: 60px;
  }
  .login-pg .phone-screen-txt .section-txt1 {
    font-size: 30px;
  }
  .login-pg .phone-screen-txt {
    padding: 0 40px;
  }
  .login-content {
    padding: 50px 30px;
  }
  .right-align-button .btn {
    display: inline-block;
  }
}