<div class="row section-follow">
    <p>Want to know more? Follow us here:</p>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <ul class="nav nav-tabs nav-justified">
        <li><a title="AgentAvery on facebook" class="btn btn-facebook" href="https://www.facebook.com/getavery/" target="_blank">
          <span class="fa">Facebook</span>
        </a></li>
        <li><a title="AgentAvery on twitter" class="btn btn-twitter" href="https://www.twitter.com/getavery/" target="_blank">
          <span class="fa">Twitter</span>
        </a></li>
        <li><a title="AgentAvery on instagram" class="btn btn-pinterest" href="https://www.instagram.com/getagentavery/" target="_blank">
          <span class="fa">Instagram</span>
        </a></li>
      </ul>
    </div>
</div>
<div class="row section-footer">
  <div class="col-xs-6">
    <div class="footer-txt"><span>&copy; Reality Labs, Inc.</span></div>
  </div>
  <div class="col-xs-6 footer-links">
    <a class="footer-link" href="/about" >About us</a>
    <a class="footer-link" href="/privacy" />Privacy policy</a>
    <a class="footer-link" href="http://blog.agentavery.com" target="_blank"/>Blog</a>
    <a class="footer-link" href="mailto:hello@agentavery.com?subject=I would love to join Team Agent Avery!&body=Hello,%0D%0D%0DAbout me:%0D%0D%0D%0D%0DCool stuff I have built:%0D%0D%0D%0D%0DMy Linkedin profile:%0D%0D%0DMy Github profile:%0D%0D%0DThanks,%0DYour name">We are hiring!</a>
  </div>
</div>
