<script type="text/javascript">
  $( document ).ready(function() {
    $(".navbar li").removeClass('active');
    $(".navbar a[href='" + window.location.pathname + "']").parent().addClass('active');
  })
</script>
<nav class="navbar">
  <div class="">
    <div class="navbar-header">
      <div class=" visible-xs">
        <button type="button" class="navbar-toggle collapsed dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="http://blog.agentavery.com" target="_blank">News & tips</a></li>
          <li><a href="/userapp#/login">Sign in</a></li>
          <li role="separator" class="divider"></li>
          <li><a class="" href="/agent-signup">Help travelers</a>
        </ul>
      </div>
      <span class="navbar-brand avery-log visible-xs">Agent Avery</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="pull-left hidden-xs">
          <span class="navbar-brand avery-log">Agent Avery</span>
        </li>
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="http://blog.agentavery.com" target="_blank">News & tips</a></li>
        <li><a href="/userapp#/login">Sign in</a></li>
        <li class="pull-right">
            <!-- <div class="bulge-button">
                <a rel="null" type="url" class="primary-btn lets-get-started" target="_parent">Help travelers</a>
            </div> -->
        <a class="primary-btn" href="/agent-signup">Help travelers</a></li>
      </ul>
    </div>
  </div>
</nav>
