<header class="intro-short-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div>
                <div>
                    <br/>
                    <center>
                    <div class="short-header">
                      <div class="short-logo">
                          <a href="/">
                              <span class="header-logo"><img width="200" src="img/logo-small.png" /></span>
                          </a>
                      </div>
                    </div>
                    </center>
                  </div>
              </div>
          </div>
    </div>
</header>
