<div id="terms" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agent Avery - Terms & Conditions</h4>
      </div>
      <div class="modal-body"><b>TERMS OF USE</b><br/>
        <p>Welcome to agentavery.com (the "Website"). We are glad you found us. If you continue to browse and

use this Website you are agreeing to comply with and be bound by the following terms and conditions of

use, which together with our privacy policy govern our relationship with you in relation to this Website.

The terms "we", "us", "our", “Agent Avery”, “agentavery.com’, and "Reality Labs, Inc." refer to Reality

Labs Inc., a Delaware corporation. The term "you" refers to the customer visiting, browsing, or using the

Website and/or marking any purchases through this Website, or through our partners, affiliates, travel

agents, and travel experts.</p>
        <p>This Website is offered to you conditioned upon your acceptance without modification of all the terms,

conditions, and notices set forth below (collectively, the "Terms of Use” or "Agreement"). By accessing or

using this Website, in any way, including interacting with any travel agents and their partners or suppliers,

and our partners and/or affiliates, you fully agree to be bound to the Terms of Use. If you do not agree to

the Terms of Use, please leave this website immediately.</p>
        <p>The use of this Website is subject to the following general terms of use:</p>
        <ol>
          <li>The content of the pages of this Website is for your general information and use only. It is subject

to change without notice.</li>
          <li>All information supplied by you on this Website is true, accurate, current and complete.</li>
          <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,

performance, completeness or suitability of the information and materials found or offered on this

Website for any particular purpose. You acknowledge that such information and materials may

contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or

errors to the fullest extent permitted by law.</li>
          <li>Your use of any information or materials on this Website is entirely at your own risk, for which we

shall not be liable. It shall be your own responsibility to ensure that any products, services or

information available through this Website meet your specific requirements.</li>
          <li>This Website contains material which is owned by or licensed to us. This material includes, but is

not limited to, the design, layout, look, appearance, and graphics. Reproduction is strictly

prohibited.</li>
          <li>You will use this Website only for the purpose planning a trip for yourself or for another person(s)

for whom you are legally authorized to act.</li>
          <li>Unauthorised use of this Website may give rise to a claim for damages and/or be a criminal

offence.</li>
          <li>From time to time this Website may also include links to other Websites. They do not signify that

we endorse the Website(s). We have no responsibility for the content of the linked Website(s).</li>
          <li>If you create an agentavery.com account, you will protect your account information at all times

and be completely responsible for any use of your account by you and anyone other than you,

including any expenses and costs arising from such use.</li>
          <li>You are at least 18 years of age and possess the legal authority to create a binding legal

obligation.</li>
          <li>You may not make any fraudulent or fake purchases or misrepresent yourself to any of our travel

agents, travel experts, partners, and/or affiliates.</li>
          <li>You will not take any action that may directly or indirectly impose any unreasonably heavy load

on this Website or our infrastructure.</li>
          <li>You may not incorporate any part of this Website, directly or indirectly, into any other Website, in

any way shape or form, without prior written consent of Reality Labs, Inc.</li>
        </ol>
        <p>Reality Labs, Inc. retains the right at its sole discretion to deny access to anyone to this Website and the

services it offers, at any time and for any reason, including, but not limited to, for violation of these Terms

of Use. Any dispute(s) arising out of such use of the Website is subject to the laws of the state of

California in the the United States of America.</p>
        <b>TRAVEL AGENTS</b>
        <p>Unless otherwise specified, travel agents, travel experts, planners, and/or anyone providing
          travel-related consultation (“travel agents”) on this Website are independent contractors and/or
          affiliates are not employed by Reality Labs, Inc. This Website is a marketplace that provides a
          platform for you to interact with travel agents and/or travel experts who collaborate with you to
          plan your trips. Their services provided to you may include recommending, selecting, and purchasing
          travel related service and/or products on your behalf using the payment method(s) you provide to them.
          While we will make reasonable efforts to help settle any disputes, we are not responsible for any disagreements
          or conflicts that may arise from your interaction with the travel agents and/or travel experts on this Website.</p>
        <b>PROHIBITED ACTIVITIES</b>
        <p>The information and services you obtain on this Website, is proprietary to Agent Avery or our partners,

providers, affiliates, travel agents, and travel experts. Therefore, you are strictly prohibited from modifying,

copying, transmitting, reproducing or using any materials obtained through this Website other than to

make limited, reasonable copies of your travel itinerary for travel booked through this Website. If we

determine at our sole discretion that you have violated our Terms of Use, we may cancel any and all

transactions associated with you and suspend or close your account immediately without your consent and any refund.

Furthermore, we reserves the right to take any necessary legal action(s) and you may be liable for

monetary losses to Reality Labs, Inc., including litigation costs and damages.
        </p>
        <b>RULES AND RESTRICTIONS</b>
        <p>When you make a purchase on this Website, you are entering into a contract with the travel agent, travel

experts, and our affiliates and partners who are helping you plan your trip. Please ensure that you read

and understand the terms and conditions of any and all travel related purchases made by the travel

agent, travel experts, and our affiliates and partners on your behalf. By making any purchase(s), you are

agreeing to the terms and conditions of purchase imposed by the supplier with whom you choose to

interact and transact. You acknowledge that any violation of their terms and conditions may result in the

cancellation of your purchases and/or reservation(s), including the forfeiture of any monies paid for such

purchases/or reservations(s). In such an event, Reality Labs, Inc. bears no responsibility.
        </p>
        <b>PREREQUISITE TRAVEL ARRANGEMENTS AND REQUIREMENTS</b>
        <p>You are solely responsible for understanding, researching, and ensuring that you meet all foreign entry

requirements if you are traveling outside of your country and that your travel documents, such as

passports and visas and any other foreign entry requirements are met. Agent Avery’s travel agents may

provide information related to international travel, but that may not always be the case. It is your

responsibility to review travel prohibitions and warnings, and take any necessary precautions, including

proper vaccinations, purchasing of travel insurance, and adhering to any advisories issued by the relevant

governments. Reality Labs, Inc. is not responsible for any damages that may arise in the event that you

are denied entry to a foreign country or territory or your safety, healthy, or property is harmed.
        </p>
        <b>INDEMNIFICATION</b>
        <p>You agree to defend at your own expense and indemnify Reality Labs, Inc and/or its travel agents, travel

experts, affiliates, partners and other suppliers and their respective officers, directors, and employees

from and against any claims, losses, damages, fines, penalties or other costs or expenses of any kind

brought by third parties as a result of your violation of our Terms of Use or your breach of any terms and

condition of a third party.</p>
        <p>&copy; 2016 Reality Labs, Inc. All rights reserved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
