{{> header}}
<div class="about-us">
  <div class="row box-space">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 phone-screen-txt">
      <p class="section-txt2 txt-bold">Thanks for stopping by. We are glad you are here!</p>
      <p class="txt-grey">We believe that traveling is good for the world. As we share amazing experiences, friendly greetings, and hearty laughs with people from different parts of the world, the humanity will grow closer together.
      </p>
    </div>
    <div class="col-xs-12 col-sm-5 features-image2 clearfix">
      <img src="img/mountaintopcouple.jpg" alt="consult a travel agent">
    </div>
  </div>
  <div class="row section-gray">
    <div class="col-xs-12">
     <p class="section-txt2 txt-bold">Go Explore</p>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="img/Mountain_icon.png" alt="mountain">
        <p>Climb Mt. Everest with a Sherpa.</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="img/coffee_icon.png" alt="coffee">
        <p>Sip on a cup of caffe macciato in Addis Ababa.</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="img/fish_icon.png" alt="fish">
        <p>Swim with the dolphins in Bermuda.</p>
      </div>
    </div>
  </div>
  <div class="row box-space">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 phone-screen-txt">
      <p class="txt-grey">Our mission is to help you to see as much of this beautiful world as possible so that you can share your fond memories with others and inspire them to travel as well.</p>
      </p>
    </div>
  </div>
  <div class="row section-higlight">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <br>
      <p class="section-txt2">"Not all those who wander are lost."</p>
      <p class="section-txt2">-J.R.R. Tolkien</p>
    </div>
  </div>
  <div class="row box-space text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <p class="section-txt2">What are you waiting for?</p>
      <p class="section-txt2 txt-bold">Get in touch with us now and go wander!</p>
      <!-- Message us plugin -->
      <!-- {{> fb_message_us}}
      <p><p>
      -->
      <div class="bulge-button"><a rel="null" href="/userapp#/signup" type="url" class="primary-btn lets-get-started" target="_parent">CHAT NOW</a> </div>
      <br>
    </div>
  </div>
</div>

{{> facebook-sdk-loader}}
