<!doctype html>
<html>
  <head>
    <title>Agent Avery - Admin</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon"
      type="image/png"
      href="https://i.imgur.com/84ZFT7V.png">
  </head>
  <body>
    <h2 id='joiners'> <i id='joined'>Agent Avery Admin</i></h2>
    <div style="float: right; padding: 20px;"><a href="/logout" className="cd-btn btn btn-primary-aa">Log Out</a></div>
    <ul id="messages"></ul>


    <!--
    <button id="switch-chat">Join Chat</button>
    -->

    <form action="">
      <input id="m" autocomplete="off" />
      <button>Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.rawgit.com/ScottHamper/Cookies/1.2.1/dist/cookies.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
