{{> short-header}}
<div class="row section-higlight">
    <div class="col-xs-12">
        <b><p class="section-txt2">Agent Avery Chat Plugin Demo</p></b>
        <center>
          <div>
            <p>This will be a third party website!</p>
          </div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </center>
        <br/>
        <hr/>
    </div>
</div>
<script>(function () { window.chatPluginSettings = { APIKey: 'a416fc99-500b-4c62-9ce0-9114360f97dc', chatTitle: 'Start chat!' }; var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://agentavery.com/dist/chat.plugin.js'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { done = true; } }; })()</script>
