<form id="forgot_password" class="form-horizontal sign-up-content">
<div class="login-form">
      <div class="logo">
        <h2><span><img src="img/logo-small.png" width="60px"></span><span class="logo-txt">Agent Avery</span> </h2>
      </div>
    <div class="message"></div>
    <h4 class="form_els">Submit your email address to receive a password reset link.</h4>
    <div class="form-group login-fields form_els">

      <label for="inputEmail517113">Email</label>
      <input name= "email" type="email" class="form-control" id="inputEmail517113"
        data-parsley-error-message="Enter your Email"
        data-parsley-email-message="Enter a valid Email address"
        data-parsley-trigger="blur" required="" placeholder="Email">
    </div>
    <div class="login-error form_els"></div>
    <br>
    <div class="right-align-button form_els">
      <div class"form-group">
            <span class="sign-up"> <a href="/all-login"> Login</a> &nbsp;&nbsp;or &nbsp;&nbsp; </span>
            <a id="submit" class="btn btn-primary-aa">SUBMIT</a>
      </div>
  </div>
  <br>

</div>
</form>

<script src="js/forgot_password.js"></script>

<link rel="stylesheet" media="screen and (max-width: 600px)" href="css/login-page-mobile.css" />
