<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <!--
    <div class="top-button pull-right"><a href="agent-signup" rel="null" type="url" class="btn" target="_parent">Agent Sign Up</a> </div>
    -->
    {{> header}}
    <!-- <div class="pull-right">
      <div class="col-md-12">
        <a class="btn btn-default agent-signup-btn" href="agent-signup">Want to work as a<br/>travel agent<br/>on Agent Avery?<br/><br/><br/><span class="agent-signup-btn-text">START NOW</span></a>
      </div>
    </div> -->
    <div class="container-fulid">
        <div class="row">
            <div class="col-xs-12 site">
                <div class="site-heading">
                    <h2>TRIP PLANNING MADE SIMPLE</h2>
                    <div class="clearfix">
                        <p class="sub-title sub-title col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">The chat-based travel agent for the new generation of travelers.</p>
                    </div>
                    <br>
                    <!-- Message us plugin -->
                    <!-- {{> fb_message_us}}
                    <p><p>
                     -->
                    <div class="bulge-button"><a rel="null" type="url" class="primary-btn lets-get-started" target="_parent">CHAT NOW</a> </div>
                    <!-- facebook messenger start -->

                    <!-- Send to messenger -->
                    <!--
                    <div class="fb-send-to-messenger"
                      messenger_app_id="158715191180432"
                      page_id="1518302081819149"
                      data-ref="PASS_THROUGH_PARAM"
                      color="blue"
                      size="standard">
                    </div>
                    -->
                    <!-- facebook messenger end -->
                    <!--
                    <div class="row section-higlight">
                        <div class="col-xs-12">
                            <p class="section-txt2">Are you a travel agent or a travel concierge?</p>
                            <p> Start helping travelers plan their unforgettable trips today!</p><br>
                            <div ><a href="agent-signup" rel="null" type="url" class="primary-btn" target="_parent">Agent Sign Up</a> </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row box-space">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 phone-screen-txt phone-screen-txt1">
        <ul class="nav">
            <li class="features-list">
                <span class="left-line"></span>
               <span class="ti-comment lg"></span>
               <div class="features-content">
                   <p class='title'>Start Chat</p>
                   <p>Get started on your unique travel experience with a simple text.</p>
               </div>
            </li>
            <li class="features-list">
                <span class="left-line"></span>
                <span class="ti-search lg"></span>
                <div class="features-content">
                    <p class='title'>Choose Your Experiences</p>
                    <p>Search your travel options with Avery, our smart travel bot.</p>
                </div>
            </li>
            <li class="features-list">
                <span class="left-line"></span>
                <span class="ti-thumb-up lg"></span>
                <div class="features-content">
                    <p class='title'>Need Help? Request an Expert!</p>
                    <p>Avery will match you with human travel experts who can help.</p>
                </div>
            </li>
            <li class="features-list">
                <span class="ti-arrow-circle-right lg"></span>
                <div class="features-content">
                    <p class='title'>Book with Confidence</p>
                    <p>Book with Avery or with our trusted travel agents for a customized travel experience.</p>
                </div>
            </li>
            <li class="features-list">
                <span class="ti-heart lg"></span>
                <div class="features-content">
                    <p class='title'>Have a Good Trip!</p>
                    <p>Remember, we are just a message away during your trip.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 features-image">
        <img class="first-phone" src="img/iPhoneUI_01.png" alt="consult a travel agent">
    </div>
</div>
<div class="row section-higlight">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <p class="section-txt2">Book your trip with Avery or with human assistance. <!-- – all on Facebook Messenger. --></p>
        <!-- {{> fb_message_us}}
        <p><p>
         -->
        <div class="bulge-button"><a rel="null" type="url" class="primary-btn lets-get-started" target="_parent">CHAT NOW</a> </div>
    </div>
</div>
<div class="row box-space">
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 features-image">
        <img src="img/handiphone.png" alt="consult a travel agent">
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 phone-screen-txt phone-screen-txt1">
        <p class="section-txt1"><span>WHY AGENT AVERY?</span></p>
        <!-- <ul class="nav"> -->
            <!-- <li class="features-list"> -->
               <!-- <span class="ti-comment lg"></span>
               -->
               <div class="features-content">
                    <!-- <p class="title">Convenience</p>
                    -->
                    <p>Some people may enjoy planning a trip, but all can use some help – best destination,
                    best hotel, best restuarants, and the best way to get there.</p>
               </div>
            <!-- </li> -->
            <!-- <li class="features-list"> -->
                <!-- <span class="ti-calendar lg"></span>
                -->
                <div class="features-content">
                    <!-- <p class="title">For simple trips,<br>you can book on your own.</p>
                    -->
                    <p>Planning a 'generic' vacation is easy, but planning that epic getaway to an exotic destination is not.
                    We show you the best options so that you can book your next trip with confidence.</p>
                </div>
            <!-- </li> -->
            <!-- <li class="features-list"> -->
                <!-- <span class="ti-bag lg"></span>
                -->
                <div class="features-content">
                    <!-- <p class="title">Need to book a business trip,<br>but have no time?</p>
                    -->
                    <p>Whether you are planning an unforgettable honeymoon or traveling with a large group,
                    save yourself time and send us a text.</p> 
                </div>    
                <div class="features-content">    
                    <p> </p>Let Agent Avery help – for free.</p>
                </div>
            <!-- </li> -->
        <!-- </ul> -->
    </div>
</div>

{{> facebook-sdk-loader}}
<script src="js/landing.js"></script>
