<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg'); background-color: #000000; opacity: 0.7;">
    <div class="container">
        <div class="row header">
          <span class="logo"></span>
          <span class="title">Agent Avery</span>
          <span class="login">Login</span>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2" >
                <div class="site-heading">
                    <br>
                    <br>
                    <h1>Welcome!</h1>
                    <span class="subheading">Send a text to a travel agent to customize your vacation. Cruises, honeymoons, family vacations, safaris, and adventure trips. Try risk free. </span>
                    <br>
                    <div class="round-btn"><p><a href="user-signup" rel="null" type="url" target="_parent">Let's get started!</a></p></div>
                    <div>or read more below</div>
                    <div class="icon-container"><span class="ti-arrow-down sm"></span></div>
                    <br>
                    <br>
                    <br>
                    <h1>How it works!</h1>
                    <span class="subheading">Talking to a travel agent to customize your vacation is now as easy as texting a friend. </span>
                    <br>
                    <div>
                        <img src="img/index-mobile-2.png" alt="Agent Avery 1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row box-space">
    <div class="col-xs-12 features-list">
        <div class="icon-container circle"><span class="ti-location-arrow lg"></span></div>
        <p>Don't know where to go? Our travel agents search hotspots ideal for your unforgettable vacation.</p>
    </div>
</div>
<div class="row box-space">
    <div class="col-xs-12 features-list">
      <div class="icon-container"><span class="ti-infinite lg"></span></div>
      <p>Our global network of travel consultants can arrange all aspects of your trip. From A to Z.</p>
    </div>
</div>
<div class="row box-space">
    <div class="col-xs-12 features-list">
      <div class="icon-container"><span class="ti-target lg"></span></div>
      <p>We keep our finger on the pulse of all the hotspots so that you can stop taking generic trips. Be different!</p>
    </div>
</div>
<div class="row section-higlight">
  <div class="col-xs-12 features-list">
      <div class="icon-container"><span class="ti-money lg"></span></div>
      <p>We get you the most bang for your buck. We do the time-consuming price comparison for you. </p>
  </div>
</div>
<div class="row box-space">
    <div class="col-xs-12 features-list round-btn">
      <p><a href="user-signup" title="Sign up">Let's get started!</a></p>
    </div>
</div>

<br><br>
