<!-- Page Header -->
<header><span class="logo"></span><span class="text">Cruises, honeymoons, family vacations - just a text away on Agent Avery</span></header>

<section class="main">
    <div class="starter-carousel">
        <div>
            <h1 class="header1">Welcome!</h1>
            <h2 class="header2">Customized honeymoons, safaris, cruises, and much more in just a few taps.</h2>
            <img src="img/index-mobile-1.png" alt="Agent Avery 1" />
        </div>
        <div>
            <h1 class="header1">How it works</h1>
            <h2 class="header2">Personalized vacation planning <br>- as easy as texting a friend.</h2>
            <img src="img/index-mobile-2.png" alt="Agent Avery 1" />
            <p><a href="user-signup" title="Sign up">Let's get started!</a></p>
        </div>
    </div>
</section>
<!--<section class="main">
    <h1 class="header1">Welcome!</h1>
    <h2 class="header2">Customized honeymoon, safari, cruises, and much more in just a few taps</h2>
</section>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.starter-carousel').owlCarousel({
            items: 1,
            singleItem: true
        });
    });
</script>
