{{> header}}
<div class="row">
  <form id="agentsignin" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 form-horizontal login-content">
    <div class="login-form">
      <p class="section-txt1">
        <span class="underline">AGENT LOGIN</span>
      </p>
      <div class="form-group login-fields col-sm-12">
        <label for="inputEmail517113">Email</label>
        <input name= "email" type="email" class="form-control" id="inputEmail517113"
          data-parsley-trigger="submit" required="" placeholder="Email">
      </div>
      <div class="form-group col-sm-12">
        <label for="inputPassword517113">Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword517113"
          data-parsley-trigger="submit" required="" placeholder="Password">
        <a href="/forgot_password">Forgot your password?</a>
      </div>
      <div class="login-error col-sm-12"></div>
      <div class="right-align-button">
        <div class"form-group">
          <span class="sign-up"> <a href="/agent-signup"> Create an Account</a> &nbsp;&nbsp;or &nbsp;&nbsp; </span>
          <a id="submit" class="btn btn-primary-aa">LOG IN</a>
        </div>
      </div>
      <center><span className="info-text">Are you a traveler? <a href="userapp#/login">Login here</a></span></center>
    </div>
  </form>
</div>

<script src="js/login.js"></script>
