<div class="login-form signup-form">
    <div class="center">
      <div class="logo">
        <h1><span><img src="img/logo-small.png" width="60px"></span><span class="logo-txt">Agent Avery</span></h1>
      </div>
    </div>
    <form id="reset_password" class="form-horizontal sign-up-content">
      {{{hidden_fields}}}
      <div class="message"></div>
      <h4 class="form_els">Reset your Password</h4>

      <div class="form-group form_els">
        <label for="inputPassword3" class="col-sm-4 control-label">New Password *</label>
        <div class="col-sm-8">
          <input name="password" type="password" class="form-control shorter-field" id="inputPassword3"
            placeholder="New Password"
            data-parsley-error-message="Enter a Password" data-parsley-trigger="blur" required="">
        </div>
      </div>
      <div class="form-group form_els">
        <label for="inputPassword4" class="col-sm-4 control-label">Confirm New Password *</label>
        <div class="col-sm-8">
          <input type="password" class="form-control shorter-field" id="inputPassword4" placeholder="Confirm New Password"
              data-parsley-error-message="Confirm your password"
              data-parsley-equalto="#inputPassword3" data-parsley-trigger="blur"
              data-parsley-equalto-message="Passwords should match"
                required="">
        </div>
      </div>
    <div class="login-error form_els"></div>
    <br>
    <div class="right-align-button form_els">
      <div class"form-group">
            <a id="submit" class="btn btn-primary-aa">RESET</a>
      </div>
    </div>
    <div class="right-align-button login-btn">
      <div class"form-group">
            <a href="/all-login" class="btn btn-primary-aa">LOG IN</a>
      </div>
    </div>
    <br>
</div>

<script src="js/reset_password.js"></script>

<link rel="stylesheet" media="screen and (max-width: 600px)" href="css/login-page-mobile.css" />
