<div class="login-form signup-form">
    <div class="center">
      <div class="logo">
        <h1><span><img src="img/logo-small.png" width="60px"></span><span class="logo-txt">Agent Avery</span></h1>
      </div>
    </div>
    <form id="agentsignup" method="POST" action="user-signup" class="form-horizontal sign-up-content">
      <input name="type" type="hidden" value="agent">
    <div class="form-group">
      <label for="fname" class="col-sm-4 control-label">Firstname *</label>
      <div class="col-sm-8">
        <input name="firstName" type="text" class="form-control shorter-field" placeholder="Firstname"
          data-parsley-error-message="Enter your Firstname" data-parsley-trigger="blur" required="">
      </div>
    </div>
    <div class="form-group">
      <label for="lname" class="col-sm-4 control-label">Lastname *</label>
      <div class="col-sm-8">
        <input name="lastName" type="text" class="form-control shorter-field" placeholder="Lastname"
          data-parsley-error-message="Enter your Lastname" data-parsley-trigger="blur" required="">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-4 control-label">Email *</label>
      <div class="col-sm-8">
        <input id="email" name="email" type="email" class="form-control shorter-field" placeholder="Email"
          data-parsley-type="email" data-parsley-trigger="change"
          data-parsley-remote="/email-not-duplicate"
          data-parsley-remote-options='{ "type": "get", "data" : { "email": function() {return $("#email").val(); } }}'
          data-parsley-remote-message="Email already used"
          required="">
      </div>
    </div>
    <div class="form-group">
      <label for="City" class="col-sm-4 control-label">City *</label>
      <div class="col-sm-8">
        <input name="city" type="text" class="form-control shorter-field" id="city"
          placeholder="Log Angeles"
          data-parsley-error-message="Enter the city you live in" data-parsley-trigger="blur" required="">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-4 control-label">Password *</label>
      <div class="col-sm-8">
        <input name="password" type="password" class="form-control shorter-field" id="inputPassword3"
          placeholder="Password"
          data-parsley-error-message="Enter a Password" data-parsley-trigger="blur" required="">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword4" class="col-sm-4 control-label">Confirm Password *</label>
      <div class="col-sm-8">
        <input type="password" class="form-control shorter-field" id="inputPassword4" placeholder="Confirm password"
            data-parsley-equalto="#inputPassword3" data-parsley-trigger="blur"
            data-parsley-equalto-message="Passwords should match"
              required="">
      </div>
    </div>

    <div class="form-group">
      <label for="mobile-number" class="col-sm-4 control-label">Mobile Number</label>
      <div class="col-sm-8">
        <input name="mobileNumber" type="text" class="form-control shorter-field"
            id="mobile-number" data-parsley-pattern="^\+?[1-9]\d{1,14}$"
            data-parsley-pattern-message="Please enter a valid phone number"
            data-parsley-trigger="blur" placeholder="+15129231642">
      </div>
    </div>

    <div class="form-group">
      <label for="trip-details" class="col-sm-4 control-label">Trip details</label>
      <div class="col-sm-8">
        <p>Tell us where you want to go and what you are looking for (e.g. I want to go to Hawaii for our Honeymoon and my budget is $2500. We would like to do an activity or two.)</p>
        <textarea name="tripDetails" class="form-control"
            id="trip-details" data-parsley-trigger="keyup"
            data-parsley-maxlength="1000"
            data-parsley-maxlength-message="Your trip details should be limited to 1000 characters."
            rows="5" cols="25"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="terms" class="col-sm-2"></label>
      <div class="col-sm-6">
        <input type="checkbox" name="terms" value="terms"
        data-parsley-checkmin="1" data-parsley-error-message="Please agree to Terms & Conditions." required/>
        &nbsp;&nbsp;*I agree to <a data-toggle="modal" data-target="#terms" href="#" target="_blank">Terms & Conditions</a><br/>
      </div>
    </div>
    </form>
    <br>
    <div class="right-align-button">
      <div class"form-group">
            <span class="sign-up"> <a href="/all-login"> Already have an account?</a>&nbsp;&nbsp; </span>
            <a id="submit" class="btn btn-primary-aa">CREATE AN ACCOUNT</a>
      </div>
    </div>
    <br>
</div>

{{> terms_agreement}}

<script src="js/bootstrap.min.js"></script>
<script src="js/signup.js"></script>

<link rel="stylesheet" media="screen and (max-width: 600px)" href="css/login-page-mobile.css" />
