{{> short-header}}
<div class="row section-higlight">
    <div class="col-xs-12">
        <h1>Hello {{userName}}, Welcome to Agent Avery!</h1>
        <center>
        <div class="about-text">
          <div class="about-text-heading">
          <p>We are delighted that you have decided to let us help you plan your trips and vacations.</p>
          <p>Thank you for being among one of our early users as we prepare for our official launch. We will soon be releasing our features to the public and you will be able to initiate a chat directly with the expert travel agents on Agent Avery.</p>
          <p>Some of the best travel agents who can help you plan your trip will soon be in touch with you. We look forward to serving you!</p>
          <p>Thanks & Regards,<br>
          Team Agent Avery</p>
          </div>
        </div>
        </center>
    </div>
</div>

{{> adwords_conversion_tracking}}

<!--
Call the google adwords conversion function
-->
<script>
  $( document ).ready(function() {
    
  });
</script>
