<html>

<head>
  <meta charset="utf-8">
  <title>Agent Avery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/dist/bundle.css"></style>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
  <link href="css/parsley.css" rel="stylesheet">
  <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
  {{> google-analytics}}
  {{> facebook-pixel}}
</head>

<body style="background-color: #212629;">
  <div id="root"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.5/parsley.min.js"></script>

<script src="/dist/bundle.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

</html>
