@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600italic,600,300italic,300);

.container{
	width: 970px !important;
}

h1, h2, h3, h4 {
	font-family:'Source Sans Pro';
}

@media screen and (min-width: 768px) {

}
.box-space{
  margin: 30px 15px;
}
.sub-title {
	font-size: 22px;
}

.about-text {
	font-size: 20px;

}
.about-text p, .about-text ul {
  opacity: 0.9;
}

.about-text a.aa-link {
  font-size: 20px;
  color: #252830;
}

.about-text ul {
  margin-top: 20px;
}

.about-text .about-text-heading {
	font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: -15px;
}

.short-header{
	height: 100px;
	font-family:'Source Sans Pro';
}

.redirect{
    background-color: rgba(51,238,187,0.8);
    padding: 15px;
    margin-top: 100px;
}

.section-higlight {
	background-color: #373A3A;
	text-align: center;
	color:#fff;
	padding-bottom: 30px;
}

.section-txt1{
	color: #252a2c;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.section-txt2{
    font-size: 30px;
}


.features-list{
	text-align: left;
  margin: 40px 0;
}

.features-list p {
	margin: 15px 0;
}
.features-list .title {
	font-weight: bold;
}

.phone-screen-txt {
	text-align: left;
  margin-top: 20px;
}
.phone-screen-txt .lg {
  font-size: 35px;
  position: absolute;
  top: -35px;
  left: -15px;
  font-weight: bold;
}
.phone-screen-txt .section-txt1 {
	text-align: left;
}
.phone-screen-txt .title {
	font-weight: bold;
	margin-bottom: 10px
}
.phone-screen-txt .section-txt1 .features-content {
  padding-left: 0px;
}
.phone-screen-txt .left-line {
  border-left: 3px solid #252a2c;
}
.phone-screen-txt p {
	margin-top: 0;
}
.phone-screen-txt1 .lg {
  position: relative;
  float: left;
  margin-top: 10px;
  top: 0;
  left: 0;
}
.phone-screen-txt1 .section-txt1 .features-content{
  padding-left: 0px;
}
.features-image img {
  width: 100%;
  border: 1px solid #9C9C9C;
  border-radius: 10px;
}

.agent-signup-btn {
	margin-top: 15px;
	box-shadow: 3px 1px 0 2px rgba(0,0,0,0.1);
	border: 5px solid #000000;
  font-family: 'Source Sans Pro';
	font-size: 0.6em;
  font-weight:bold;
	line-height: 1.1em;
	color: #000000;
	background-color: #666666;
	opacity: 0.9;
	height: 140px;
	width: 220px;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
}
.agent-signup-btn:hover {
	margin-top: 15px;
	box-shadow: 3px 1px 0 2px rgba(0,0,0,0.1);
	border: 3px solid #000000;
  font-family: 'Source Sans Pro';
	font-size: 0.6em;
  font-weight:bold;
	line-height: 1.1em;
	color: #000000;
	background-color: #999999;
	opacity: 0.9;
	height: 140px;
	width: 220px;
	position: relative;
	-webkit-transform: scale(1.1);
}

.lets-get-started {
	cursor: pointer;
}

.bulge-button {
	-webkit-transition: all 0.5s ease-in-out;
}

.bulge-button:hover {
	-webkit-transform: scale(1.1);
}

.agent-signup-btn-text {
	color: #ffffff;
	font-size: 2.0em;
}

/* About us*/
.features-image2 img {
  width: 100%;
  border: 15px solid #cccccc;
  box-shadow: 5px 8px 0 #9C9C9C;
}
.section-gray {
  background-color: #cccccc;
  text-align: center;
  color:#fff;
  padding-bottom: 20px;
}

.section-gray img {
  height: 50px;
}
.about-us {
  font-size: 20px;
}

.about-us .txt-grey {
  color: #9C9C9C;
}

.txt-bold {
  font-weight: bold;
}
