.hidden {
  display: hidden;
}

.visible {
  display: block;
}

.modal-close-btn {
  padding: 15px 35px;
}

.row {
  margin: 0;
}

.underline {
  border-bottom: 4px solid #33eebb;
}

.section-txt1{
  color: #252a2c;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.primary-btn{
  background-color: #33eebb;
  padding: 20px 50px;
  color: #fff;
  display: inline-block;
}