@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600italic,600,300italic,300);

body{
	background-color: #f1f1f1;
	font-family:'Source Sans Pro';
	color:#252830;
  font-size: 18px;
	overflow-x: hidden;
}

.agent-body {
  margin: 0 10px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .agent-body {
    margin: 0 50px;
  }
}

.container{
	position: absolute;
    left: 240px;
    width: 78%;
    
}
h1 {
	color: #252830;
}

p {
  margin: 15px 0;
}
.iconav{
	width: 220px;
	background-color: #30343e;
}

.logo-txt{
	padding-left: 10px;
	font-weight: 600;
	color:#5BC3B1;
}


.iconav-nav > li > a{
	text-align: left;
	background-color: #30343e;
	color: #cfd2da;
}


.iconav-nav > li.active > a,
.iconav-nav > li.active > a:focus,
.iconav-nav > li.active > a:hover,
.iconav-nav > li.active > a:active {
  color: #6f7890;
  background-color: #252830;
}

.iconav-brand{
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 15px;
	text-align: left;
	background-color: #30343e;
}

.nav > .nav-header{
	color: #51586a;
}

.nav-label{
	padding-left: 10px;
	font-size: .8em;
}

.last-menu-item{
	border-bottom: 1px solid #252830;
}

.iconav-nav > li + li > a{
	border-top: none;
	border-left: none;
}

.active-clients{
	padding-top:20px;
}

.nav-pills > li > a {
	color: #cfd2da;
}

.nav > li > a:hover, .nav > li > a:focus{

	color: #6f7890;
    background-color: #252830;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #5BC3BB;
    border-radius: 0px;
}

.notification{
	background-color:#16181C;
	border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
}

a{
	color: #5BC3BB;
}

a:hover, a:focus {
    color: #5BC3BB;
}

.navbar {
  background-color: #fff;
  border-radius: 0px;
  border: 0;
  margin-bottom: 0;
}

.navbar-toggle {
  background: #33eebb;
}
.navbar-toggle .icon-bar {
  background-color: #E9E9E9;
}

.avery-log {
  width: 160px;
  height: 34px;
  background-image: url('../img/LogoSmall.png');
  background-repeat: no-repeat;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0 0;
  margin: 10px;
}

.navbar-collapse {
  padding: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  margin-left: 15px;
}
.navbar-nav > li > a {
  color: #9C9C9C;
  text-align: left;
  margin-left: 20px;
  padding: 10px 0;
}
.navbar-nav>li .primary-btn {
  color: #fff;
  text-decoration: underline;
  padding: 33px;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  background-color: none;
  border-bottom: 2px solid #33eebb;
  color: #565B5B
}

.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
  border-bottom: 2px solid #33eebb;
  background-color: #fff;
}
.navbar .navbar-nav>li>.primary-btn:focus, .navbar .navbar-nav>li>.primary-btn:hover {
  border-bottom: 0;
  background-color: #33eebb;
}

.navbar-header {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .navbar-nav > li {
    float: none;
    display: inline-block;
    margin: 0;
  }
  .navbar-nav>li>a {
    padding: 2px;
    margin: 30px 15px;
  }
  .navbar-nav>li .primary-btn {
    margin: 0;
  }
  .avery-log {
    margin: 24px 0 12px 20px;
  }
}

.intro-header {
  margin-bottom: 0px;
}

.intro-header .site {
  background-color: rgba(102,104,105,0.5);
  margin: 0;
}

.intro-header .site-heading {
  padding: 20px 0;
  margin-top: 30px;
}

.intro-short-header {
  height: 230px;
  font-family:'Source Sans Pro';
}