:local(.styles) {

  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex: 1;

  .itineraryDiv {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
