<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        {{{title}}}

    </title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="theme-dashboard/docs/assets/css/toolkit-light.css" rel="stylesheet">
    <link href="css/agent-UI-style.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
    <script src="js/modernizr.js"></script>

  </head>

<body>




<div class="with-iconav">

    <nav class="iconav">
      <a class="iconav-brand" href="job-board.html">
        <span><img src="img/logo-small.png" width="30px"></span><span class="logo-txt">Agent Avery</span>
      </a>
      <!--Top Menu Items -->
      <div class="iconav-slider">
        <ul class="nav nav-pills iconav-nav">
          <li >
            <a href="job-board.html" >
              <span class="ti-world"></span><span class="nav-label">Job Board</span>
            </a>
          </li>
          <li >
            <a href="#">
            <span class="ti-folder"></span>
              <span class="nav-label">Past Clients</span>
            </a>
          </li>
          <li >
            <a href="#" >
            <span class="ti-user"></span>
              <span class="nav-label">My Account</span>
            </a>
          </li>

        </ul>
      </div>
      <!--Active Clients-->
      <div class="active-clients">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">ACTIVE CLIENTS</li>
            <li ><a href=""> <span> Cindy Allen </span></a></li>
            <li ><a href=""> <span> Oprah Winfrey </span> <span class="notification"> 3 </span></a></li>
            <li class="active" ><a href=""> <span> John Lennon </span></a></li>

        </ul>
      </div>
    </nav>
</div>
<div class="container">

    <div class="client-info">
      <div class="row job-item">
             <h1>John Lennon</h1>
              <span class="icon icon-aircraft"></span><span class="icon-label">New York City to Amsterdam</span>
              <span class="icon icon-briefcase"></span><span class="icon-label">10 days</span>
              <span class="icon icon-users"></span><span class="icon-label">2 people</span>

      </div>
    </div>

    <div class="itinerary">

        <a href="#0" class="cd-btn btn btn-primary-aa">ITENERARY</a>

    </div>

    <div class="chat">
        <div class="hr-divider m-t-md m-b">
          <h3 class="hr-divider-content hr-divider-heading">October 15th</h3>
        </div>


        <div class="chat-item">

          <span><img class="chat-image" src="img/Jenn.jpg"></span> <span class="user-name"> Jennifer Rich </span><span> 3:00AM </span><div class="chat-message">Hey Bob, I am specialized in planning romantic getaways. I would like to be your agent.</div>
        </div>
       <div class="chat-item">
          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 6:00AM </span><div class="chat-message">My partner and I are celebrating our 10th years anniversary. We are looking for a romantic trip, we love museums, shopping, and night life. My partner and I are celebrating our 10th years anniversary. We are looking for a romantic
trip, we love museums, shopping, and night life.</div>
        </div>
         <div class="chat-item">
          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 2:00AM </span><div class="chat-message">My partner and I.</div>
        </div>
        <div class="hr-divider m-t-md m-b">
          <h3 class="hr-divider-content hr-divider-heading">Yesterday</h3>
        </div>
        <div class="chat-item">
          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 5:00AM </span><div class="chat-message">My partner and I are celebrating our 10th years anniversary. We are looking for a romantic trip, we love museums, shopping, and night life. My partner and I are celebrating our 10th years anniversary. We are looking for a romantic
trip, we love museums, shopping, and night life.</div>
        </div>
        <div class="chat-item">

          <span><img class="chat-image" src="img/Jenn.jpg"></span> <span class="user-name"> Jennifer Rich </span><span> 6:00AM </span><div class="chat-message">Hey Bob, I am specialized in planning romantic getaways. I would like to be your agent.</div>
        </div>
         <div class="hr-divider m-t-md m-b">
          <h3 class="hr-divider-content hr-divider-heading">Today</h3>
        </div>
         <div class="chat-item">
          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 2:00AM </span><div class="chat-message">My partner and I are celebrating our 10th years anniversary. We are looking for a romantic trip, we love museums, shopping, and night life. My partner and I are celebrating our 10th years anniversary. We are looking for a romantic
trip, we love museums, shopping, and night life.</div>
        </div>
        <div class="chat-item">

          <span><img class="chat-image" src="img/Jenn.jpg"></span> <span class="user-name"> Jennifer Rich </span><span> 4:00AM </span><div class="chat-message">Hey Bob, I am specialized in planning romantic getaways. I would like to be your agent.</div>
        </div>
        <div class="chat-item">
          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 5:00AM </span><div class="chat-message">My partner and I are celebrating our 10th years anniversary. We are looking for a romantic trip, we love museums, shopping, and night life. My partner and I are celebrating our 10th years anniversary. We are looking for a romantic
trip, we love museums, shopping, and night life.</div>
        </div>
        <div class="chat-item">

          <span><img class="chat-image" src="img/Jenn.jpg"></span> <span class="user-name"> Jennifer Rich </span><span> 6:00AM </span><div class="chat-message">Hey Bob, I am specialized in planning romantic getaways. I would like to be your agent.</div>
        </div>
        <div class="chat-item">

          <span><img class="chat-image" src="img/Jenn.jpg"></span> <span class="user-name"> Jennifer Rich </span><span> 7:00AM </span><div class="chat-message agent-fee">Total Service Fee: <span class="bold"> $456.00 </span>. &nbsp;&nbsp;&nbsp;<a class="fee-btn" href="">edit</a></div>
        </div>
        <div class="chat-item">

          <span><img class="chat-image" src="img/JohnLennon.jpg"></span> <span class="user-name"> John Lennon </span><span> 7:50AM </span><div class="chat-message agent-fee">Total Paid <span class="bold"> $456.00 </span>. &nbsp;&nbsp;&nbsp;<a class="refund-btn" href="">refund</a></div>

        </div>
    </div>
    <div class="chatbox">
      <div class="flextable">
        <div class="flextable-item flextable-primary">
          <input type="text" class="form-control" placeholder="Type message...">
        </div>
        <div class="flextable-item">
          <div class="btn-group">

            <button type="button" class="btn btn-primary-outline image-btn">
              <span class="icon icon-image"></span>
            </button>
            <button type="button" class="btn btn-primary-outline attachement-btn">
              <span class="icon icon-attachment"></span>
            </button>
             <button type="button" class="btn btn-primary-outline">
              <span class="icon icon-credit"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Itinerary-->
  <div class="cd-panel itenerary-panel from-right">

    <div class="cd-panel-container">
      <div class="cd-panel-content">
       <h1>Itinerary</h1>
      <a href="#0" class="cd-panel-close"><span class="ti-close"></span></a>

      <br>
      <div id="buildItinerary">
        <div>This itinerary will be email to your client: <strong> client@email.com </strong> <a href="">edit</a></div>
        <div>

            <div class="advanced-wrapper">
              <div class="toolbar-container"><span class="ql-format-group">
                  <select title="Font" class="ql-font">
                    <option value="sans-serif" selected>Sans Serif</option>
                    <option value="Georgia, serif">Serif</option>
                    <option value="Monaco, 'Courier New', monospace">Monospace</option>
                  </select>
                  <select title="Size" class="ql-size">
                    <option value="10px">Small</option>
                    <option value="13px" selected>Normal</option>
                    <option value="18px">Large</option>
                    <option value="32px">Huge</option>
                  </select></span><span class="ql-format-group"><span title="Bold" class="ql-format-button ql-bold"></span><span class="ql-format-separator"></span><span title="Italic" class="ql-format-button ql-italic"></span><span class="ql-format-separator"></span><span title="Underline" class="ql-format-button ql-underline"></span></span><span class="ql-format-group">
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Text Alignment" class="ql-align">
                    <option value="left" selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select></span><span class="ql-format-group"><span title="Link" class="ql-format-button ql-link"></span><span class="ql-format-separator"></span><span title="Image" class="ql-format-button ql-image"></span><span class="ql-format-separator"></span><span title="List" class="ql-format-button ql-list"></span></span></div>
              <div class="editor-container"></div>
            </div>
          </div>
                <a href="#" id="send-btn" class="cd-btn btn btn-primary-aa">SEND</a>
      </div>

      <div id="sentItinerary">
        <h4><span class="icon icon-check success-icon"></span><span>This itinerary has been emailed to your client at <strong>client@email.com</strong></span></h4>
        <div class="sent-itinerary">
           <div class="row job-item">
             <h1>Itinerary for John Lennon</h1>
              <span class="icon icon-aircraft"></span><span class="icon-label">New York City to Amsterdam</span>
              <span class="icon icon-briefcase"></span><span class="icon-label">10 days</span>
              <span class="icon icon-users"></span><span class="icon-label">2 people</span>
              <br><br>
              The content should be what is rendered from the WSYWYG editor.



          </div>
        </div>
      </div>


      </div>
      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
  </div> <!-- cd-panel -->


    <!--ServiceFee-->
  <div class="cd-panel service-fee-panel from-right">

    <div class="cd-panel-container">
      <div class="cd-panel-content">
       <h1>Service Fee Options</h1>
      <a href="#0" class="cd-panel-close close-fee-panel"><span class="ti-close"></span></a>

      <br>
      <div id="serviceFees">
             <form class="form-horizontal sign-up-content">

      <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">One-Time Fee</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>
         <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Hourly Fee</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00"> <span class="bold">&nbsp;&nbsp;&nbsp; per hour</span>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Other</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control price-description" rows="4" cols="25" name="comment" form="usrform">
</textarea>
          </div>
        </div>
      </form>

      <div class="col-sm-2"> </div>
      <div class="col-sm-10 total">Total: $320.00<br><br>
      <a href="#" id="send-btn-fee" class="cd-btn-fee btn btn-primary-aa">SEND</a></div>

      <div>

      </div>

      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
  </div> <!-- cd-panel -->
</div>
      <!--Refund Panel-->
  <div class="cd-panel refund-panel from-right">

    <div class="cd-panel-container">
      <div class="cd-panel-content">
       <h1>Refund</h1>
      <a href="#0" class="cd-panel-close close-refund-panel"><span class="ti-close"></span></a>

  <br>
      <div id="refund">
      <form class="form-horizontal sign-up-content">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Flight</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>
         <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Hotel</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Activities</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label price-field-lbl">Others</label>
          <div class="col-sm-10">
            <span class="bold">$&nbsp;&nbsp;&nbsp;</span><input type="text" class="form-control sm-field" id="name" placeholder="0.00">
          </div>
        </div>

      </form>

      <div class="col-sm-2"> </div>
      <div class="col-sm-10 total">Total: $320.00<br><br>
      <a href="#" id="send-btn-fee" class="cd-btn-fee btn btn-primary-aa">SEND</a></div>

      <div>


      </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
  </div> <!-- cd-panel -->
</div>
</div>

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script type="text/javascript" src="js/quill.js"></script>
    <script type="text/javascript" src="js/advanced.js"></script>
    <script src="js/chat_client.js"></script>
  </body>
</html>
