


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        Agent Avery - {{{agentName}}}

    </title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="theme-dashboard/docs/assets/css/toolkit-light.css" rel="stylesheet">
    <link href="css/agent-UI-style.css" rel="stylesheet">
    <link href="css/themify-icons.css" rel="stylesheet">
  </head>


<body>




<div class="with-iconav">

  <nav class="iconav">
    <a class="iconav-brand" href="job-board.html">
      <span><img src="img/logo-small.png" width="30px"></span><span class="logo-txt">Agent Avery</span>
    </a>
    <!--Top Menu Items -->
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav">
        <li class="active" >
          <a href="#" >
            <span class="ti-world"></span><span class="nav-label">Job Board</span>
          </a>
        </li>
        <li >
          <a href="#" >
          <span class="ti-folder"></span>
            <span class="nav-label">Past Clients</span>
          </a>
        </li>
        <li >
          <a href="#" >
          <span class="ti-user"></span>
            <span class="nav-label">My Account</span>
          </a>
        </li>

      </ul>
    </div>
    <!--Active Clients-->
    <div class="active-clients">
      <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">ACTIVE CLIENTS</li>
          <li ><a href=""> <span> Cindy Allen </span></a></li>
          <li ><a href=""> <span> Oprah Winfrey </span> <span class="notification"> 3 </span></a></li>
      </ul>
    </div>
  </nav>
</div>
  <div class="container">
   <h1>{{{agentName}}}'s Job Board</h1>
     <div class="search">
            <form class="sidebar-form">
                <input class="form-control" type="text" placeholder="Search...">
                <button type="submit" class="btn-link">
                  <span class="icon icon-magnifying-glass"></span>
                </button>
            </form>
      </div>
      <div class="job-list">
        <div class="row job-item">
          <div class="col-md-9">
            <h3>John Lennon  <span class="reccomended"> RECOMMENDED</span>
 </h3>
            <div class="info"><span class="icon icon-aircraft"></span><span class="icon-label">New York City to Amsterdam</span></div>
            <div class="info"><span class="icon icon-briefcase"></span><span class="icon-label">10 days</span></div>
            <div class="info"><span class="icon icon-users"></span><span class="icon-label">2 people</span></div>
            <div class="description"><span class="icon icon-message"></span><span class="icon-label">My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life.My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life...</span></div>
          </div>
          <div class="col-md-3 action-column">
            <a href="chat.html" class="btn btn-primary-aa">START CHAT</a>
          </div>

        </div>

        <hr class="m-t">
          <div class="row job-item">
          <div class="col-md-9">
            <h3>John Lennon  <span class="reccomended"> RECOMMENDED</span>
 </h3>
            <div class="info"><span class="icon icon-aircraft"></span><span class="icon-label">New York City to Amsterdam</span></div>
            <div class="info"><span class="icon icon-briefcase"></span><span class="icon-label">10 days</span></div>
            <div class="info"><span class="icon icon-users"></span><span class="icon-label">2 people</span></div>
            <div class="description"><span class="icon icon-message"></span><span class="icon-label">My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life.My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life...</span></div>
          </div>
          <div class="col-md-3 action-column">
            <a href="chat.html" class="btn btn-primary-aa">START CHAT</a>
          </div>

        </div>

        <hr class="m-t">

        <div class="row job-item">
          <div class="col-md-9">
            <h3>John Lennon  <span class="reccomended"> RECOMMENDED</span>
 </h3>
            <div class="info"><span class="icon icon-aircraft"></span><span class="icon-label">New York City to Amsterdam</span></div>
            <div class="info"><span class="icon icon-briefcase"></span><span class="icon-label">10 days</span></div>
            <div class="info"><span class="icon icon-users"></span><span class="icon-label">2 people</span></div>
            <div class="description"><span class="icon icon-message"></span><span class="icon-label">My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life.My partner and I are celebrating our 10th year anniversary. We are looking for a romantic trip. we love museums, shopping, and night life...</span></div>
          </div>
          <div class="col-md-3 action-column">
            <a href="chat.html" class="btn btn-primary-aa">START CHAT</a>
          </div>

        </div>

          <hr class="m-t">
      </div>


  </div>
  </body>
</html>
