:local(.styles) {

    overflow: auto;
    cursor: pointer;

    text-align: center;

    .aa-link {
      color: #33eebb;
      text-decoration: underline;
      display: inline-block;
      font-size: 1.0em;
      font-weight: bold;
    }
}
