<p>Welcome to Agent Avery!</p>
<p>Agent Avery is a messaging platform that connects you with top travel specialists who can offer customized travel experiences. We make travel booking as easy as texting a friend.</p>
<p>No more looking through dozens of websites or irrelevant reviews only to still wonder whether you're going to the right place, staying at the best hotel, and doing most fun activities.</p> 
<p>Let us help you experience the wonders of the world easily and conveniently. Click here to <a href="https://agentavery.com" target="_blank">get started</a>.</p>
<p>Travel on!</p>
