node_modules/

.project

.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

all.log

public/img/.DS_Store

exceptions.log

public/img/.DS_Store

public/img/.DS_Store

public/js/.DS_Store

public/js/.DS_Store

*.log

gulpfile.js

app/views/components/agent/Account/Account.js

app/views/components/agent/Chat/Chat.js

app/views/components/agent/Chat/Chat.js

app/views/components/agent/Chat/Chat.js

app/views/components/agent/Html/Html.js

app/views/components/agent/LeftPanel/LeftPanel.js

app/views/components/agent/JobBoard/JobBoard.js

public/img/.DS_Store

app/views/components/agent/Form/Form.js

app/views/components/agent/Form/FormField.js

app/views/components/agent/Form/Text.js

app/views/components/agent/Form/TextArea.js

app/views/components/agent/ModalPopup/ModalPopup.js

public/theme-dashboard/.DS_Store

app/views/components/agent/ConfirmationPopup/ConfirmationPopup.js

app/views/components/agent/Form/Select.js

dump.rdb

public/theme-dashboard/.DS_Store

app/views/components/admin/Home/Home.js

app/views/components/agent/SessionExpired/SessionExpired.js

node_test.js

localConfig.json

/coverage

public/dist/aa-chat-plugin.css
public/dist/aa-chat-plugin.js
public/dist/agentavery_bundle.js
public/dist/bundle.css
public/dist/bundle.css.map
public/dist/bundle.js
public/dist/bundle.js.map
